{% extends 'base.html.twig' %}

{% block title %}Gestion du compte{% endblock %}

{% block body %}

<div class="container py-4">

    <h1 class="mb-4">Gestion du compte</h1>

    <div class="row g-4">

        <div class="col-md-12">
            <div class="card h-100">
                <div class="card-body">

                    <h5 class="card-title">
                        <i class="bi bi-person"></i>
                        Profil
                    </h5>

                    <div class="card-text mb-3">
                        <div>
                            <strong>Nom d'utilisateur</strong>
                            {{ app.user.username }}
                        </div>
                        <div>
                            <strong>Prénom</strong>
                            {{ app.user.firstname }}
                        </div>
                        <div>
                            <strong>Nom</strong>
                            {{ app.user.lastname }}
                        </div>
                        <div>
                            <strong>Adresse mail</strong>
                            {{ app.user.email }}
                        </div>
                    </div>


                    <a href="{{ path('app_account_edit') }}"
                       class="btn btn-primary">
                        Modifier le profil
                    </a>

                    <a href="{{ path('app_account_password') }}"
                       class="btn btn-primary">
                        Modifier le mot de passe
                    </a>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card h-100">
                <div class="card-body">

                    <h5 class="card-title">
                        <i class="bi bi-box-arrow-right"></i>
                        Déconnexion
                    </h5>

                    <a href="{{ path('app_logout') }}"
                       class="btn btn-secondary">
                        Se déconnecter
                    </a>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card border-danger h-100">
                <div class="card-body">

                    <h5 class="card-title text-danger">
                        <i class="bi bi-trash"></i>
                        Suppression définitive du compte
                    </h5>

                    <form method="post" action="{{ path('app_account_delete') }}">
                        <input
                            type="hidden"
                            name="_token"
                            value="{{ csrf_token('delete-user') }}"
                        >

                        <button
                            type="submit"
                            class="btn btn-danger"
                            onclick="return confirm('Êtes-vous sûr de vouloir supprimer définitivement votre compte ?');"
                        >
                            Supprimer mon compte
                        </button>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}